extends layout

block content
  div(ng-controller="mainCtrl")
    .sidebar.sidebar-left
      ul.items
        li.item PalmDrive
    .sidebar.sidebar-right
    .chat-room
      .messages-container
        .message(ng-repeat="msg in messages")
          span.username {{msg.user.username}}
          span.message-content {{msg.content}}
    .message-input-container
      textarea(ng-model="message.content", name="message-input", placeholder="Type in here...")
      button.btn.btn-primary.btn-lg.btn-send(ng-click="sendMessage()") Send
