doctype html
html
  head
    title= title
    <!-- Latest compiled and minified CSS -->
    // build:css  main.css
    link(rel="stylesheet", href="bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="stylesheets/css/index.css")
    // endbuild

  body(ng-app="app")
    block content

    // build:js main.js
    script(src="underscore/underscore-min.js")
    script(src='javascripts/lib/firebase.min.js')
    script(src="angular/angular.js")
    script(src="angularfire/dist/angularfire.min.js")
    script(src="javascripts/main.js")
    // endbuild
