doctype html
html
  head
    title= title
    <!-- Latest compiled and minified CSS -->
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/css/index.css')
  body
    block content