<!DOCTYPE html>
<html>
  <head>
    <title></title><!-- Latest compiled and minified CSS -->
    <!-- build:css  dist/main.css-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/stylesheets/css/index.css">
    <!-- endbuild-->
  </head>
  <body ng-app="app">
    <!-- build:js dist/main.js-->
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="public/javascripts/main.js"></script>
    <!-- endbuild-->
  </body>
</html>